html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  style */
body{
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #333;
}

header .container{
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px 20px 0px 20px;
}

header .container .judul{
	font-size: 40px;
	font-weight: bold;
}

header .container nav{
	margin-top: 15px;
}

header .container nav ul li{
	display: inline;
}

header .container nav ul li a{
	text-decoration: none;
	margin-right: 5px;
}

header .container nav ul li a:hover{
	background-color: salmon;
	color: white;
}

header .container figure .hero{
	height: 400px;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position: center;   /* memiliki 2 parameter value sumbu x dan y */
	background-repeat: no-repeat;
	border-top: 5px solid red;
	border-bottom: 5px solid green;
	margin-top: 10px;
	margin-left: -20px;
	margin-right: -20px;
}

article .conten h2{
	font-size: 32px;
	font-weight: bold;
	margin-top: 20px;
}

article .conten .penulis{
	font-size: 11px;
}

article .conten p{
	margin-bottom: 20px;
	font-size: 14px;
}

footer .footer{
	background-color: black;
	margin-right: -20px;
	margin-left: -20px;
	padding: 10px;
}

footer .footer .copy{
	color: white;
	text-align: center;
}